/* Import statements should be at the top */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #4d99bc35; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #4D99BC; /* color of the thumb */
    border-radius: 5px; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4D99BC; /* color of the thumb on hover */
}

/* Remove up and down arrows on input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.prose ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

.prose ol {
    list-style-type: decimal;
    margin-left: 1.5em;
}

.prose li {
    margin-bottom: 0.5em;
}

.prose h1 {
    @apply text-[2.5rem] font-bold;
}

.prose pre {
    @apply bg-gray-800 text-white p-4 rounded-md overflow-x-auto;
}

.prose blockquote {
    @apply border-l-4 border-gray-500 pl-4 italic text-gray-600;
}

.ProseMirror:focus {
    outline: none;
}

.tiptap{
    min-height: 18rem;
}